<div class="card signUpCard">
    <div class="card-header">
        <h2>Sign Up</h2>
    </div>
    <div class="card-body">
        <form action="" id="signUp">
            <div class="row mb-3">
                <label for="signUpName" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input type="string" placeholder="name" class="form-control" id="signUpName">
                </div>
            </div>
            <div class="row mb-3">
                <label for="signUpEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-8">
                    <input type="text" placeholder="email" class="form-control" id="signUpEmail">
                </div>
            </div>
            <div class="row mb-3">
                <label for="signUpPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" placeholder="password" id="signUpPassword">
                </div>
            </div>
            <button id="signUpBtn" class="btn btn-primary">Sign Up!</button>
        </form>
    </div>
</div>
<script src="/js/signUp.js"></script>